[submodule "panda"]
	path = panda
	url = ../panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../laika.git
[submodule "cereal"]
	path = cereal
	url = ../cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../rednose.git
